---
layout: page.njk
title:  "Speakers"
---

<p>what the fuck is going on</p>

{% for id, speaker in speakers %} 

    <h3 id="{{speaker.id}}"> {{speaker.fullName}} </h3>
    <h4> {{speaker.tagLine}} </h4>
    {% for link in speaker.links %}
        <a href="{{link.url}}">
            {{link.title}}
        </a> - 
    {% endfor %}

    <p> {{speaker.bio}} </p>

    <h4> {{speaker.firstName}}'s Sessions </h4>

    <ul>
    
    {% for sessionId in speaker.sessions %}

        <li>
            <a href="/sessions/#{{sessionId}}">{{ sessions[sessionId].title }} </a>
        </li>

    {% endfor %}

    </ul>


{% endfor %}
