
body {
    max-width: 700px;
    margin: 2rem auto;
    padding: 2rem;
    font-family: sans-serif;
}
body.Schedule {
    max-width: 1200px;
}
h2, h3 {
    margin-top: 4rem;
}
table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
}
th, td {
    padding: 1rem;
}
.td-title, .td-subtitle {
    display: block;
    padding: 3px;
}
.td-subtitle {
    font-size: smaller;
}
.home-link, .menu {
    font-size: larger;
}
.menu li {
    line-height: 2rem;
}
